<div nz-row nzJustify="space-around" style="margin-top:20px;margin-bottom: 10px;">
    <div nz-col nzSpan="20">
        <nz-card>
            <article nz-typography>
                <h2 nz-typography>angularBlog介绍</h2>
                <p nz-typography style="font-size: 18px;">
                    angularBlog博客的设计理念:主要运用了前后端的分离思想，实现了个人注册、个人登录功能、文章评论、用户个人资料以及账号信息的修改， 用户可以很好的管理个人的博客。发布博客，修改博客以及删除博客，实现了多用户博客。
                </p>
                <h2 nz-typography>angularBlog前端运用到的技术</h2>
                <p nz-typography style="font-size: 18px;">
                    1.angular11
                </p>
                <p nz-typography style="font-size: 18px;">
                    1.Ant Design of Angular
                </p>
                <h2 nz-typography>angularBlog后端运用到的技术</h2>
                <p nz-typography style="font-size: 18px;">
                    1.node.js+express
                </p>
                <p nz-typography style="font-size: 18px;">
                    2.mysql
                </p>
              </article>
           
             
        </nz-card>
    </div>
</div>